/*CSSのコメントの仕方*//**/
body {
    /*background-image: url("素材/wallpaper.jpg")*/
    background-color: rgb(187, 255, 166);
}


/*button{
    background-color: red;
    border-color: white;
    color: white;
    font-size: 30ex;
}*/

button {
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
  }
  
button:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
  }

p{
    color : black;
    font-size : 2.5ex;
    font-weight: bold;
    text-align: center;
}

p#index {
    color : black;
    font-size : 2.5ex;
    font-weight: bold;
}

p#q1,#q2 {/*#○でhtmlのIDを指定することができる．また，で区切ることで複数のIDが指定できる*/
    color : black;
    font-size : 2.5ex;
    font-weight: bold;
}

a{
    text-align: center;
}

h1 {
    background-color: rgb(4, 174, 4);
    font-size: 5ex;
}

h2{
    font-size: 3.5ex;
}

button{
    font-size:3ex;
}